.box {
  padding: 5%;
  text-align: center;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
}
.btnBox {
  margin: 2rem;
}
#submit {
  width: 5rem;
}
.container {
  width: 30rem;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinnerBox {
  display: none;
}
#outputBox {
  display: none;
}
